@*home content*@
@*<div class="container">
        <a href="~/Views/Home/vegetables.cshtml">
            <div class="categories">
                <img src="~/images/bg_img/veg_bg.jpg" class="item-image" />
                <div class="image-title">vegetables</div>
            </div>
        </a>
        <a href="~/Views/Home/fruits.cshtml">
            <div class="categories">
                <img src="~/images/bg_img/fruits_bg.jpg" alt="" class="item-image" />
                <div class="image-title">Fruits</div>
            </div>
        </a>
        <a href="~/Views/Home/dal.cshtml">
            <div class="categories">
                <img src="~/images/bg_img/dals_bg.jpg" class="item-image" />
                <div class="image-title">Dals</div>
            </div>
        </a>
        <a href="~/Views/Home/meat.cshtml">
            <div class="categories">
                <img src="~/images/bg_img/meat_bg.jpg" class="item-image" />
                <div class="image-title">Meat</div>
            </div>
        </a>
    </div>*@

@*grocery content*@

@*Veg Page*@
<section id="Vegetables">

    <div class="parallax1">
        <div class="title">Vegetables</div>
    </div>
    <div class="container">
        <div class="shop-content">
            <div class="food-box">
                <div class="pic">
                    <img src="~/Images/vegetables/bitter-gourd.jpg" class="food-img">
                </div>
                <h2 class="food-title">Bitter Gourd</h2>
                <span class="food-price">Rs.40</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/vegetables/onion.jpg" class="food-img"></div>
                <h2 class="food-title">Onion</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/vegetables/potatoes.jpg" class="food-img"></div>
                <h2 class="food-title">Potato</h2>
                <span class="food-price">Rs.80</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/vegetables/tomatoes.jpg" class="food-img"></div>
                <h2 class="food-title">Tomato</h2>
                <span class="food-price">Rs.55</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/vegetables/ladys-finger.jpg" class="food-img"></div>
                <h2 class="food-title">Ladys Finger</h2>
                <span class="food-price">Rs.25</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/vegetables/cauliflower.jpg" class="food-img"></div>
                <h2 class="food-title">Cauliflower</h2>
                <span class="food-price">Rs.150</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>
        </div>
    </div>
</section>

@*Fruits Page*@

<section id="Fruits">

    <div class="parallax1">
        <div class="title">Fruits</div>
    </div>
    <div class="container">
        <div class="shop-content">

            <div class="food-box">
                <div class="pic">
                    <img src="~/Images/fruits/b-grapes.jpg" class="food-img">
                </div>
                <h2 class="food-title">grapes</h2>
                <span class="food-price">Rs.40</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/apples.jpg" class="food-img"></div>
                <h2 class="food-title">apples</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/bananas.jpg" class="food-img"></div>
                <h2 class="food-title">bananas</h2>
                <span class="food-price">Rs.80</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/g-grapes.jpg" class="food-img"></div>
                <h2 class="food-title">grape s</h2>
                <span class="food-price">Rs.55</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/oranges.jpg" class="food-img"></div>
                <h2 class="food-title">oranges</h2>
                <span class="food-price">Rs.25</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/pineapple.jpg" class="food-img"></div>
                <h2 class="food-title">pineapple</h2>
                <span class="food-price">Rs.150</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/strawberries.jpg" class="food-img"></div>
                <h2 class="food-title">strawberries</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/fruits/sugar-apple.jpg" class="food-img"></div>
                <h2 class="food-title">sugar-apple</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>
        </div>
    </div>

</section>

@*Dal*@

<section id="Dals">

    <div class="parallax1">
        <div class="title">Dals</div>
    </div>
    <div class="container">
        <div class="shop-content">
            <div class="food-box">
                <div class="pic">
                    <img src="~/Images/dals/Almond.jpg" class="food-img">
                </div>
                <h2 class="food-title">Almond</h2>
                <span class="food-price">Rs.40</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Bengal_Gram.jpg" class="food-img"></div>
                <h2 class="food-title">Bengal Gram</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Cashew.jpg" class="food-img"></div>
                <h2 class="food-title">Cashew</h2>
                <span class="food-price">Rs.80</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Channa.jpg" class="food-img"></div>
                <h2 class="food-title">Channa</h2>
                <span class="food-price">Rs.55</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Green_Peas.jpg" class="food-img"></div>
                <h2 class="food-title">Green Peas</h2>
                <span class="food-price">Rs.25</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Horse_Gram.jpg" class="food-img"></div>
                <h2 class="food-title">Horse Gram</h2>
                <span class="food-price">Rs.150</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/Images/dals/Moong_Gram.jpg" class="food-img"></div>
                <h2 class="food-title">Moong Gram</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>


            <div class="food-box">
                <div class="pic"><img src="~/images/dals/Pistachio.jpg" class="food-img"></div>
                <h2 class="food-title">Pistachio</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>

            <div class="food-box">
                <div class="pic"><img src="~/images/dals/urad.jpg" class="food-img"></div>
                <h2 class="food-title">urad</h2>
                <span class="food-price">Rs.65</span>
                <ion-icon name="cart" class="add-cart"></ion-icon>
            </div>
        </div>
    </div>
</section>


